* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    position: relative;
}

body {
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.521), rgba(0, 0, 0, 0.568)), url(Img/Ethan-Image-1.jpg);
    background-position: right;
    background-size: cover;
    background-attachment: fixed;
    backdrop-filter: blur(8px);
    z-index: -1;
    position: absolute;
}


/* Gallery Basic */

ul {
    display: flex;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

li {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    overflow: hidden;
}

.pix {
    padding-bottom: 70px;
}


/* Text section */

p {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px auto 0 auto;
    text-align: center;
}

.text::after {
    display: block;
    content: "";
    border-bottom: orange solid 2px;
    width: 30%;
    margin: 0 auto;
}


/****** Hover ******/

a {
    transition: transform 0.4s, filter 0.4s;
    filter: brightness(85%);
}

a:hover {
    transform: scale(1.1);
    transition: transform 0.3s, filter 0.3s;
    filter: brightness(110%);
    filter: saturate(110%);
}


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
    ul {
        width: 80%;
        margin: 20px auto;
    }
    li {
        width: 17%;
    }
    img {
        width: 100%;
        margin: auto 22px
    }
    p {
        width: 40%;
    }
    .text::after {
        width: 20%;
        margin-top: 50px;
    }
    .pix {
        margin-top: 300px;
        padding-bottom: 100px;
    }
}


/* Extra small devices (phones, 600px and down) */

@media screen and (max-width: 600px) {
    body {
        background-position: center;
        /* height: 200vh; */
    }
    ul {
        width: 100%;
    }
    li {
        width: 70%;
        margin: 30px auto;
    }
    img {
        width: 100%;
        padding: 5px 10px;
    }
    p {
        width: 60%;
    }
    .text::after {
        margin: 30px auto 220px auto;
    }
    .pix {
        margin-top: 300px;
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
    ul {
        width: 100%;
        margin: 20px auto;
    }
    li {
        width: 43%;
    }
    img {
        width: 100%;
        padding: 5px 10px;
    }
    p {
        width: 60%;
    }
    .text::after {
        width: 20%;
        margin: 30px auto 220px auto;
    }
}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    li {
        width: 46%;
        margin: 0 auto;
    }
    img {
        width: 100%;
        /* padding: 0 10px; */
    }
    ul {
        width: 80%;
    }
    .pix {
        margin-top: 300px;
    }
}
